body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: left;
}

h2 {
  margin: 0;
  color: #333;
}

.subtitle {
  color: #888;
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button.evaluate {
  background: #10c36d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

button.clear {
  background: #ddd;
  color: #333;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #545050;
  border-radius: 6px;
  background: #312f2f;
}
